@import "./variables.scss";

.margin-s {
    margin: 10px;
}

.header {
    color: $light_gray;
}
.comment {
    font-size: 90%;
    color: #585858;
}

.success-comment {
    font-size: 90%;
    color: $green
}

.link {
    cursor: pointer;
}

.margin-s {
    margin: 5px;
}

.success {
    color: $light_green
}